
  <div class="page-wrapper">
    
    <div class="main-content-container">

        <!-- Post slider -->
        <div class="post-slider">
          <h1 class="slider-title">Trending <span>Posts</span></h1>
          <i class='bx bx-chevron-left prev'></i>
          <i class='bx bx-chevron-right next'></i>
        
          <div class="post-wrapper">
            <% popularPosts.forEach(popularPost => { %>
              <div class="post">
                <div class="post-info">
                  <h1><a href="/post/<%= popularPost._id %>"><%= popularPost.title %></a></h1>
                  <div class="">
                    <i class='bx bxs-user'>Asizy</i>
                    <i class='bx bxs-calendar'><%= popularPost.createdAt.toDateString()%></i>
                  </div>
                  <p class="preiew-text"><%= popularPost.preview %>.</p>
                  <a href="/post/<%= post._id %>" class="btn read-more">Read More</a>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
        <!-- post slider -->

        <!-- Content -->
        <div class="content clearfix">

        <!-- Main content -->
        <div class="main-content">
            <h1 class="recent-post-title">Recent <span>Posts</span> </h1>

            <% data.forEach(post => { %>
          
              <div class="post">
                <div class="post-preview">
                  <h1><a href="/post/<%= post._id %>"><%= post.title %></a></h1>
                  <div class="">
                    <i class='bx bxs-user'>Asizy</i>
                    <i class='bx bxs-calendar'><%= popularPost.createdAt.toDateString()%></i>
                  </div>
                  <p class="preiew-text"><%= post.preview %>.</p>
                  <a href="/post/<%= post._id %>" class="btn read-more">Read More</a>
                </div>
              </div>
            <% }) %>

            <% if (nextPage !== null) { %>
                <div class="btn">
                    <a href="/?page=<%= nextPage %>">See older</a>
                </div>
            <% } %>
            
        </div>
        <div class="sidebar single">

          <div class="section search">
            <h2 class="section-title">Search</h2>
            <form action="/search" method="post">
              <div class="input-box">
                <input type="search" name="searchTerm" class="input-text" placeholder="Search.." id="searchInput">
              </div>
            </form>
          </div>
        
          <div class="section topics">
            <h2 class="section-title">Topics</h2>
            <ul>
              <% topics.forEach(topic => { %>
                <li><a href="/topic/<%= topic._id %>"><%= topic.name %></a></li>
              <% }); %>
            </ul>
          </div>
        
        </div>
        
    </div>
    <!-- //Content -->

    </div>
    
</div>
