<div class="author">
  <div class="post-slider">
    <h1 class="slider-title">Trending <span>Posts</span></h1>
    <i class='bx bx-chevron-left prev'></i>
    <i class='bx bx-chevron-right next'></i>
  
    <div class="post-wrapper">
      <% popularPosts.forEach(popularPost => { %>
        <div class="post">
          <% if (popularPost.image && popularPost.image.data) { %>
            <div class="slider-image">
              <img src="data:<%= popularPost.image.contentType %>;base64, <%= popularPost.image.data.toString('base64') %>" alt="">
            </div>
          <% } %>
          <div class="post-info">
            <h1><a href="/post/<%= popularPost._id %>"><%= popularPost.title %></a></h1>
            <i class='bx bxs-user'>Asizy</i>
            <i class='bx bxs-calendar'><%= popularPost.createdAt %></i>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  
  </div>
  
  <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <% data.forEach(post => { %>
          
      <div class="post">
        <div class="post-preview">
          <h1><a href="/post/<%= post._id %>"><%= post.title %></a></h1>
          
          <i class='bx bxs-user'>Asizy</i>
          <i class='bx bxs-calendar'><%= post.createdAt %></i>
          <p class="preiew-text"><%= post.preview %>.</p>
          <a href="/post/<%= post._id %>" class="btn read-more">Read More</a>
        </div>
      </div>
    <% }) %>
    


      
  
  
    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
   
  
    
  
  
  
  </section>