

<div class="page-wrapper">

    <div class="">

        <!-- Content -->
        <div class="content clearfix">

            <!-- Main content -->
            <div class="main-content single">
                <h1 class="post-title"><%= service.title %></h1>

                <article>
                    <!-- Display project data here -->
                    <p><%- service.body %></p>
                </article>
            </div>

            
            <!-- Main content -->

            <!-- Sidebar -->
            <div class="sidebar single">

                    <div class="section popular">
                        <h2 class="section-title">Popular Posts</h2>

                        <div class="">
                            <% popularPosts.forEach(function(popularPost) { %>
                                <div class="post">
                                    <% if (popularPost.image && popularPost.image.data) { %>
                                        <img src="data:<%= popularPost.image.contentType %>;base64, <%= popularPost.image.data.toString('base64') %>" alt="" >
                                    <% } %>
                                    <a href="/post/<%= popularPost._id %>" class="title clearfix"><h4><%= popularPost.title %></h4></a>
                                </div>
                            <% }); %>
                        </div>
                        
                    </div>
            
                    <div class="section topics">
                        <h2 class="section-title">Topics</h2>
                        <% if (topics.length > 0) { %>
                            <ul>
                                <% topics.forEach(function(topic) { %>
                                    <li><a href="/topic/<%= topic._id %>"><%= topic.name %></a></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <p>No topics yet</p>
                        <% } %>
                    </div>
                </div>

                <!-- Sidebar -->
            </div>
          
            <!-- //Content -->
        </div>

    </div>

    

</div>
