
<div class="page-wrapper">

    <div class="content clearfix">

        <div class="main-content">

            <h1>Posts under <%= topic.name %> </h1>

            <div class="search_results">
                <% if (posts.length > 0) { %>
                    <% posts.forEach(function(post) { %>
                      <div class="">
                          <div class="">
                            <h1><a href="/post/<%= post._id %>"><%= post.title %></a></h1>
                            
                            <i class='bx bxs-user'>Asizy</i>
                            <i class='bx bxs-calendar'><%= post.createdAt %></i>
                            <p class="preiew-text"><%= post.preview %>.</p>
                          </div>
                        </div>
                    <% }); %>
                  <% } else { %>
                    <p>No posts found under this topic.</p>
                  <% } %>
            </div>

        </div>

        <div class="sidebar">

            <div class="section search">
                <h2 class="section-title">Search</h2>
                <form action="/search" method="post">
                    <div class="input-box">
                        <input type="search" name="searchTerm" class="input-text" placeholder="Search.." id="searchInput">
                    </div>
                </form>
            </div>
    
            <div class="section popular">
                <h2 class="section-title">Popular Posts</h2>

                <% popularPosts.forEach(popularPost => { %>
                    <div class="post">
                      <a href="/post/<%= popularPost._id %>" class="title clearfix"><h4><%= popularPost.title %></h4></a>
                    </div>
                  <% }) %>
                
            </div>

            <div class="section topics">
                <h2 class="section-title">Topics</h2>
                  <ul>
                    <% topics.forEach(topic => { %>
                      <li><a href="/topic/<%= topic._id %>"><%= topic.name %></a></li>
                    <% }) %>
                  </ul>
              </div>
        </div>

    </div>

</div>
